PORT=4000
JWT_SECRET=982bb5837a9aedd02e6d5e733d9b600947496169fa3eefe4

CHAPA_TEST_SECRET_KEY=CHASECK_TEST-DKcfuIjugIRVof9xuowHi1g3aTE8cjvZ

EMAIL_USER = no-reply@hertzopshub.com
APP_EMAIL_PASS = Yerosen1892!
SMTP_SERVER = mail.hertzopshub.com